{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/media/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock title %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    
    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet"> 
    
    <link href="{% static 'musicapp/css/musicplayer.css' %}" rel="stylesheet">
    {% block header %} {% endblock header %}
    
</head>
<body class="app-body bg-light">
    <nav class="navbar navbar-expand-md app-navbar">
        <div class="container">
            <h1><a href="{% url 'index' %}" class="navbar-brand">
            <strong>GALVANIC</strong></a></h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".app-navbar-collapse" aria-controls="app-primary-nav app-user-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse app-navbar-collapse" id="app-primary-nav">
                <a href="{% url 'index' %}" class="btn btn-outline-light mt-2 mx-1 {% if request.resolver_match.url_name == 'index' %}is-active{% endif %}"{% if request.resolver_match.url_name == 'index' %} aria-current="page"{% endif %}>HOME</a>
                <a href="{% url 'all_songs' %}" class="btn btn-outline-light mt-2 mx-1 {% if request.resolver_match.url_name == 'all_songs' or request.resolver_match.url_name == 'hindi_songs' or request.resolver_match.url_name == 'english_songs' or request.resolver_match.url_name == 'recent' or request.resolver_match.url_name == 'detail' %}is-active{% endif %}"{% if request.resolver_match.url_name == 'all_songs' %} aria-current="page"{% endif %}>ALL SONGS</a>
                {% if request.user.is_active %}
                
                <div class="btn-group mt-2 mx-1">
                    <a type="button" href="{% url 'mymusic' %}" class="btn btn-outline-light {% if request.resolver_match.url_name == 'mymusic' or request.resolver_match.url_name == 'playlist' or request.resolver_match.url_name == 'playlist_songs' or request.resolver_match.url_name == 'favourite' %}is-active{% endif %}"{% if request.resolver_match.url_name == 'mymusic' %} aria-current="page"{% endif %}>MY MUSIC</a>
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'playlist' %}">Playlists</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'favourite' %}">Favourite Songs</a>
                        </div>
                </div>
                {% endif %}
            </div>
            
            <div class="collapse navbar-collapse app-navbar-collapse justify-content-end" id="app-user-nav">
            {% if request.user.is_active %}
            <h5 class="app-user-greeting mt-3 mx-2">Hi, {{ request.user.username }}</h5>
            <form method="post" action="{% url 'logout' %}" class="mt-2 mx-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-light"> Sign Out <i class="fa fa-sign-out" aria-hidden="true"></i></button>
            </form>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-light mt-2 mx-2 {% if request.resolver_match.url_name == 'login' %}is-active{% endif %}"{% if request.resolver_match.url_name == 'login' %} aria-current="page"{% endif %}><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a>
            <a href="{% url 'signup' %}" class="btn btn-light mt-2 mx-2 {% if request.resolver_match.url_name == 'signup' %}is-active{% endif %}"{% if request.resolver_match.url_name == 'signup' %} aria-current="page"{% endif %}><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
            {% endif %}            
            </div>
        </div>

    </nav>

    <main class="app-main" role="main">
    {% block body %}
    {% endblock body %}
    </main>
    
    <div class="content">
        <div class="lyrics"></div>
     </div>
    
    <br>
    <br>
    <br>
    
    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.3/smooth-scroll.min.js" integrity="sha512-HYG9E+RmbXS7oy529Nk8byKFw5jqM3R1zzvoV2JnltsIGkK/AhZSzciYCNxDMOXEbYO9w6MJ6SpuYgm5PJPpeQ==" crossorigin="anonymous"></script>
    {% block js %} {% endblock js %}
</body>
</html>
